<div *ngIf="logs.history().length" class="logging-history">
  <div class="logs-header">
    <h1>Logging History</h1>
    <button mat-mini-fab color="accent" (click)="logs.clear()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="logs-container">
    <p *ngFor="let entry of logs.history()">
      {{ entry.timestamp | date : "MMM dd, yyyy HH:mm:ss" }} -
      <ng-container *ngIf="entry.data">
        {{ entry.system ? "Auto-saved: " : "User saved: " }}
        {{ entry.data.firstName }} {{ entry.data.lastName }}
      </ng-container>
      <ng-container *ngIf="entry.error">
        {{ entry.error }}
      </ng-container>
    </p>
  </div>
</div>
