<mat-toolbar color="primary">
  <span>Welcome!</span>
  <span class="spacer"></span>
  <mat-slide-toggle [(ngModel)]="autoSaveEnabled" (change)="settingChanged()"></mat-slide-toggle>
</mat-toolbar>
<mat-card>
  <form [formGroup]="form" class="personal-form" novalidate>
    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input formControlName="firstName" matInput placeholder="Joe" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input formControlName="lastName" matInput placeholder="Doe" />
    </mat-form-field>
    <button
      [disabled]="form.invalid"
      mat-raised-button
      color="accent"
      type="button"
      class="save-btn"
      (click)="save()"
    >
      Save
    </button>
    <mat-card-footer>
      <mat-progress-bar
        *ngIf="autoSaveEnabled && autoSaving"
        mode="indeterminate"
      ></mat-progress-bar>
    </mat-card-footer>
  </form>
</mat-card>
<mat-divider></mat-divider>
<div *ngIf="loggingHistory?.length" class="logging-history">
  <h1>Logging History</h1>
  <div class="logs-container">
    <p *ngFor="let log of loggingHistory">
      {{ log.timestamp | date }} -
      {{ log.system ? "Auto-saved: " : "User saved: " }}
      {{ log.data.firstName }} {{ log.data.lastName }}
    </p>
  </div>
</div>
