
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-autosave-forms-primary: mat.define-palette(mat.$grey-palette);
$ng-autosave-forms-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);


// The warn palette is optional (defaults to red).
$ng-autosave-forms-warn: mat.define-palette(mat.$deep-orange-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ng-autosave-forms-theme: mat.define-light-theme((
  color: (
    primary: $ng-autosave-forms-primary,
    accent: $ng-autosave-forms-accent,
    warn: $ng-autosave-forms-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ng-autosave-forms-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* SCSS HEX */
$eerie-black: #1f1f1fff;
$bisque: #f4dbb8ff;
$bottle-green: #0b6e4fff;
$barn-red: #7a0800ff;
$mint-green: #a9fdacff;

/* SCSS HSL */
$eerie-black: hsla(0, 0%, 12%, 1);
$bisque: hsla(35, 73%, 84%, 1);
$bottle-green: hsla(161, 82%, 24%, 1);
$barn-red: hsla(4, 100%, 24%, 1);
$mint-green: hsla(122, 95%, 83%, 1);

/* SCSS RGB */
$eerie-black: rgba(31, 31, 31, 1);
$bisque: rgba(244, 219, 184, 1);
$bottle-green: rgba(11, 110, 79, 1);
$barn-red: rgba(122, 8, 0, 1);
$mint-green: rgba(169, 253, 172, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1f1f1fff, #f4dbb8ff, #0b6e4fff, #7a0800ff, #a9fdacff);
$gradient-right: linear-gradient(90deg, #1f1f1fff, #f4dbb8ff, #0b6e4fff, #7a0800ff, #a9fdacff);
$gradient-bottom: linear-gradient(180deg, #1f1f1fff, #f4dbb8ff, #0b6e4fff, #7a0800ff, #a9fdacff);
$gradient-left: linear-gradient(270deg, #1f1f1fff, #f4dbb8ff, #0b6e4fff, #7a0800ff, #a9fdacff);
$gradient-top-right: linear-gradient(45deg, #1f1f1fff, #f4dbb8ff, #0b6e4fff, #7a0800ff, #a9fdacff);
$gradient-bottom-right: linear-gradient(135deg, #1f1f1fff, #f4dbb8ff, #0b6e4fff, #7a0800ff, #a9fdacff);
$gradient-top-left: linear-gradient(225deg, #1f1f1fff, #f4dbb8ff, #0b6e4fff, #7a0800ff, #a9fdacff);
$gradient-bottom-left: linear-gradient(315deg, #1f1f1fff, #f4dbb8ff, #0b6e4fff, #7a0800ff, #a9fdacff);
$gradient-radial: radial-gradient(#1f1f1fff, #f4dbb8ff, #0b6e4fff, #7a0800ff, #a9fdacff);



/* SCSS HEX */
$dark-jungle-green: #011a0dff;
$cadet-grey: #9cabadff;
$rich-black-fogra-29: #020d0fff;
$pakistan-green: #307325ff;
$black-chocolate: #222218ff;
