<mat-card>
  <mat-card-content>
    <form [formGroup]="form" class="personal-form" novalidate>
      <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input formControlName="firstName" matInput placeholder="Joe" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input formControlName="lastName" matInput placeholder="Doe" />
      </mat-form-field>
      <button
        [disabled]="form.invalid || isAutoSaving()"
        mat-raised-button
        color="accent"
        type="button"
        class="save-btn"
        (click)="save()"
      >
        Save
      </button>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar
      *ngIf="autoSaveEnabled && isAutoSaving()"
      mode="indeterminate"
    ></mat-progress-bar>
  </mat-card-footer>
</mat-card>
