<mat-card>
  <form #userForm="ngForm" class="personal-form" novalidate>
    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input ngModel name="firstName" required matInput placeholder="Joe" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input ngModel name="lastName" required matInput placeholder="Doe" />
    </mat-form-field>
    <button
      [disabled]="userForm.invalid || (isAutoSaving$ | async)"
      mat-raised-button
      color="accent"
      type="button"
      class="save-btn"
      (click)="save()"
    >
      Save
    </button>
    <mat-card-footer>
      <mat-progress-bar
        *ngIf="autoSaveEnabled && (isAutoSaving$ | async)"
        mode="indeterminate"
      ></mat-progress-bar>
    </mat-card-footer>
  </form>
</mat-card>
