mat-card {
  width: 300px;
  height: fit-content;
}

.personal-form {
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0.5rem !important;
}

.save-btn {
  margin-bottom: 16px;
}
